body {
    background: #F8E8A6;
}
h1, p {
    text-align: center;
}
footer { 
  text-align: center;
   
}
footer a {
    color: green;
    margin: 0 10px;
}
.croissant-photo {
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    max-width: 100%;
}